#container {
    border: 1px solid black;
    border-radius: 5px;
    width: 320px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    background-color: midnightblue;
}

.touch {
    height: 13%;
    width: 18%;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

#containerSecond {
    width: 90%;
    height: 13%;
}

#champ {
    width: 100%;
    height: 100%;
    background-color: dimgray;
    color: white;
}

#erase {
    background-color:  silver;
}

#parenthesis , #parenthesis2 , #multiplication , #substraction , #copy , #equal , #comma , #pourcent , #addition {
    background-color: magenta;
}

#one , #two , #three , #four , #five , #six , #seven , #height , #nine , #zero {
    background-color: white;
}

